
	<div ng-app="employeeApp" id="defaultContainer" data-user-id=<%= @user.id.to_s %> class="row" ng-controller="defaultCtrl" >
        <div class="panel-body col-sm-6 col-sm-offset-1 col-sm-push-4">
        	<!-- <article > -->
	            <table class="table table-striped table-bordered">
	                <thead>
	                	<tr>
		                	<th>Name</th>
		                	<th>Birthday</th>
		                	<th>Options</th>
	                	</tr>
	                </thead>
	                <tbody>
	                    <tr ng-hide="employees.length">
	                        <td colspan="3" class="text-center">There is no employee in your record</td>
	                    </tr>
	                    <tr ng-repeat="e in employees">
	                        <td>{{e.name}}</td>
	                        <td>{{e.birthday | date}}</td>
	                        <td class="text-center">
	                        	<button class="btn btn-sm btn-primary" ng-click="editOrCreateEmployee(e)">
	                        		Edit
	                        	</button>
	                         	<button class="btn btn-sm btn-primary btn-danger" ng-click="deleteEmployee(e)" >Delete
	                        	</button>
	                        </td>
	                    </tr>
	                </tbody>
            	</table>
        </div>
          <!--   </article> -->
            <aside class="panel-body col-sm-5 col-sm-pull-8">
            	<div class=>
	            	<button class="btn btn-primary" 
	                ng-click="listEmployees()">Refresh table</button>
	            	<button class="btn btn-primary" 
	                ng-click="editOrCreateEmployee()">Add  New Employee</button>
	            </div>

                <form name="employeeForm" class="panel-body" ng-show="formDisplay" novalidate>
				    <div class="form-group">
				        <label>Name:</label>
				        <input name="name" class="form-control" ng-model="currentEmployee.name" required />
				        <div class="error" ng-show="employeeForm.name.$dirty && employeeForm.name.$invalid">
				        	<span class="error" ng-show="employeeForm.name.$error.required">Name can not be blank.</span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label>Social Secure #:</label>
				        <input class="form-control" ng-model="currentEmployee.ssn" />
				    </div>
				    <div class="form-group">
				        <label>Birthday:</label>
				        <input type="date" class="form-control" ng-model="currentEmployee.birthday" />
				    </div>

				    <div class="form-group">
				        <label>Date of hire:</label>
				        <input name="hiredDay" type="date" class="form-control" ng-model="currentEmployee.hiring_date" required />
				        <div class="error" ng-show="employeeForm.hiredDay.$dirty && employeeForm.hiredDay.$invalid">
				        	<span class="error" ng-show="employeeForm.hiredDay.$error.required">Date of hire can not be blank.</span>
				        </div>
				    </div>

				    <div class="form-group">
				        <label>Probation due:</label>
				        <input name="probationEnd" type="date" class="form-control" ng-model="currentEmployee.prob_expire"  />
				   
				    </div>

				    <div class="form-group">
				        <label>Benefit eligible:</label>
				        <input name="benefitStart" type="date" class="form-control" ng-model="currentEmployee.act_insure" />
				        
				    </div>

				    <button class="btn btn-primary" ng-click="saveChange(currentEmployee)" ng-disabled="employeeForm.$invalid">Save</button>
				    <button class="btn btn-primary" ng-click="cancelChange()">Cancel</button>
				</form>

            </aside>

           
        
    </div>

