<div class="introcontainer">
	<p><h3>Welcome</h3></p>
	<p><h4>
	NewHired helps manage your new workers. Just store your empolyees' info here, and you can always have a quick reference of important dates like when a new worker's probation expires, or someone's annual review is coming up. Save yourself the headache of tracking these things on a post-it.
	</h4></p>
</div>
