<div class="introcontainer">
	<p><h3>Welcome</h3></p>
	<p><h4>
	NewHired helps managaing your new workers. Just stoing your empolyees' info here, you can always has a quick reference of important dates like when a new worker's probation expires, or someone's annual review is coming up. Saving the headache of tracking these things on post-it.
	</h4></p>
</div>
